<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-title>
      Rozana
    </ion-title>

  </ion-toolbar>
</ion-header>






<ion-content >


  <div class="promotionWrap">
    <div class="promotionBanner">

    </div>
  </div>

  <div class="CategroyWrap">
    <div class="CategoryHeadingWrap">
      <h2>Shop By Categories</h2>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="SingleCatagoryWrap">
   <ion-img>

   </ion-img>
   <div class="CategoryTextWrap">
     <img src="" alt="">
     <p class="arabicCategory">الأعشاب والتوابل</p>
     <p class="englishCategory">Herbs & Spices</p>
   </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="SingleCatagoryWrap">
  
          </div>
  
        </ion-col>
        <ion-col>
          <div class="SingleCatagoryWrap">
  
          </div>
  
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </div>

<br>
  <div class="promationSecondWrap">
    <div class="bannerSecondPromotion"></div>
   
  </div>

  <br>
  <div class="HeadingWrapper">
    <h2 class="headings-title">New Offers</h2> <ion-icon name="chevron-forward-outline"></ion-icon>

  </div>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>